@model ContactoModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Crear Proyecto
  </div>
  <div class="card-body">
    

      <form asp-action="Guardar" asp-controller="Mantenedor" method="post">
      <div class="mb-3">
        <label class="form-label">Nombre del Proyecto</label>
        <input asp-for="Nombre" type="text" class="form-control">
        <span asp-validation-for="Nombre" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Porcentaje</label>
        <input asp-for="Telefono" type="text" class="form-control">
        <span asp-validation-for="Telefono" class="text-danger"></span>
      </div>
       <div class="mb-3">
        <label class="form-label">Descripcion</label>
        <input asp-for="Correo" type="text" class="form-control">
        <span asp-validation-for="Correo" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>
    </form>


  </div>
</div>
