
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
        <title>Registrar</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="sidenav">
         <div class="login-main-text">
            <h2>Registro de Usuarios</h2>
            <p>Ingresa la Informacion</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form asp-action="Registrar" asp-controller="Access" method="post">
                  <div class="form-group">
                     <label>Nombre de Usuario</label>
                     <input type="text" class="form-control" placeholder="UserName" name="Correo">
                  </div>
                  <div class="form-group">
                     <label>Contraseña</label>
                     <input type="password" class="form-control" placeholder="Password" name="Clave">
                  </div>
                  <div class="form-group">
                     <label>Confirmar Contraseña</label>
                     <input type="password" class="form-control" placeholder="Password" name="ConfirmarClave">
                  </div>
                  <button type="submit" class="btn btn-black">Registrar</button>
               </form>
            </div>
         </div>
      </div>
    </body>
</html>